<div class="container">

<h2 class="text-center">Visualisation des datas</h2>
<table class="table table-striped" style="width:100%">
<thead>
    <tr>
        <th>Id</th>
        <th>Gps Longitude</th>
        <th>Gps Latitutde</th>
        <th>Date</th>
        <th>CO2</th>
        <th>TVOC</th>
        <th>Température</th>
        <th>Pression</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
{{#if datas}}
    {{#each datas}}
      <tr>
        <td class="text-secondary">{{this.id}}</td>
        <td>{{this.gpslongitude}}</td>
        <td>{{this.gpslatitude}}</td>
        <td>{{this.time}} - {{this.heure}}</td>
        <td>{{this.co2}}</td>
        <td>{{this.tvoc}}</td>
        <td>{{this.temp}}</td>
        <td>{{this.pression}}</td>
        <td><form action="/del/{{this._id}}">
              <input class="button" type="submit" value="Suppr"/>
            </form>
      </tr>
    {{/each}}
  </ul>
    </tbody>
</table>
{{else}}
  <p><em>No datas availables.</em></p>
{{/if}}
</div>

<script>
  console.log("js is ok !")
</script>